@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700&display=swap");
html,
body {
    background-color: #eee;
    color: #666;
    font-family: "Noto Sans SC", sans-serif;
}

a,
a:visited {
    color: #666;
    font-weight: 700;
    text-decoration-color: #666;
    transition: 0.5s color, 0.5s text-decoration-color;
}

a:hover {
    color: navy;
    text-decoration-color: transparent;
}

.nav-links {
    border-top: #eee solid 1px;
    border-bottom: #eee solid 1px;
}

.nav-links a,
.nav-links a:visited {
    text-decoration: none;
    color: #bbb;
    font-weight: 400;
    padding: 0 20px;
    transition: color 1s;
}

.nav-links a:hover {
    color: #666;
}

.last-updated {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 2em;
    visibility: hidden;
}

#spec-input {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Noto Sans SC";
    text-align: center;
    color: navy;
    text-shadow: 1px 1px 2px rgba(102, 102, 102, 0.5);
    width: 100%;
    border: 2px navy solid;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #eee;
    outline: none;
    transition: 0.1s;
    margin: 0.25em 0;
}

#spec-input:focus {
    box-shadow: 0 0 3pt 2pt cornflowerblue;
}

.button {
    font-size: 24px;
    height: 48px;
    background-color: transparent;
    border: none;
    color: #bbb;
    width: 100%;
    margin-top: -10px;
}

.number-results {
    margin-bottom: 1em;
    padding: 0 !important;
}

.search-result {
    border: 2px solid #bbb;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    box-shadow: 2px 2px 2px #ddd;
}

.search-spec {
    color: navy;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -8px;
}

.search-title {
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
}

.search-date {
    color: #bbb;
    font-size: 14px;
    margin-bottom: 0.25em;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

code {
    background-color: #ddd;
    border: 1px #333 solid;
    font-family: monospace;
    padding: 4px;
    line-height: 2rem;
}

.code-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.tab {
    margin-left: 20px;
    display: block;
}

.footer {
    font-size: 1rem;
    background-color: #333;
    color: #ddd;
    padding: 10px 0;
    margin: 0 auto;
    overflow: none;
    position: relative;
    text-align: center;
}

.footer a:hover {
    color: white !important;
}
