@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700&display=swap");
html,
body {
    background-color: #eee;
    color: #666;
    font-family: "Noto Sans SC", sans-serif;
}

a,
a:visited {
    color: #666;
    text-decoration-color: #666;
    transition: 0.5s color, 0.5s text-decoration-color;
}

a:hover {
    color: navy;
    text-decoration-color: transparent;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
